<section class="ProductContent">

    <!-- More pictures of the product appear here.-->
    <div class="ProductImages">

        @for(img of Product?.MainColor?.[ColorIndex]?.Images; track $index; let i=$index)
        {
        <div class="ImageCard">
            <img (click)=" ImgIndexChange(i)" src="{{img}}" alt="">
        </div>
        }
    </div>
    <!-- One of the product images selected by the user will be displayed.-->
    <div class="ProductCard">

        <div class="ProductImage">
            <img src="{{ Product?.MainColor?.[ColorIndex]?.Images?.[ImgIndex] }}" alt="">
        </div>

    </div>
    <!-- This is where the product information appears. -->
    <div class="ProductInfo">

        <h6 class="StoreName">FASCO</h6>
        <div class="ProductName">
            <h6>{{ Product?.Name }}</h6>
            <div class="ProductStarIcon">
                <fa-icon [icon]="faStar"></fa-icon>
            </div>
        </div>

        <div class="ProductReview">
            <fa-icon [icon]="faStar"></fa-icon> 
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <span class="PrroductReviewNumber">(0)</span>
        </div>

        <div class="ProductPriceInfo">
            <span class="APrice">{{ActivePrice}}</span>
            @if(ProdDiscount>0)
            {
                <span class="DPrice">{{Prodprice}}</span>
                <span class="Save">SAVE {{ProdDiscountProcent}}%</span>
            }
        </div>

        <div class="CurrentViewership">
            <fa-icon [icon]="faEye"></fa-icon>
            <p> 24 people are viewing this right now</p>
        </div>

        <div class="DiscountTimer"> 
            <div class="DiscountTimerContent">
                <span>Hurry up! Sale ends in:</span>
                <span>00  :  00  :  00  :  00</span>
            </div>
        </div>

        <div class="LetfInStock">
            <p>Only <strong>{{ProdInStock}}</strong> item(s) left in stock!</p>
            <div class="EmptyLine">
                <div class="RedLine"></div>
            </div>
        </div>

        <div class="ProductSizes">
            <p>Sizes: {{ ProdSize?.[SizeNameIndex] ?? 'Select Size' }}</p>
            <ul>
                @for(Size of ProdSize; track Size; let i=$index)
                {
                    <li [class.active]="SizeNameIndex === i" (click)=" SizeIndex(i)">{{Size}}</li>
                }
            </ul>
        </div>
        
        <div class="ProductColors">
            <p>Color: {{ Product?.MainColor?.[ColorIndex]?.Fantasyname ?? 'Select Color' }}</p>
            <ul>
                @for(color of Product?.MainColor; track $index; let i=$index)
                {
                    <li><div [class.active]="ColorIndex === i" (click)="ColorIndexChange(i)" class="Color" [style.backgroundColor]="color.Hex"></div></li>
                }
            </ul>
        </div>

        <div class="ProductAddToCard">
            <p>Quantity</p>
            <div class="Quantity-AddToCard">

                <div class="Quantity">
                    <span (click)="QuantityDecrease()">-</span>
                    <span>{{Quantity}}</span>
                    <span (click)="QuantityIncrease()">+</span>
                </div>

                <button>Add to Cart</button>
            </div>
        </div>

        <div class="ProductDetails">
            <div class="ProductDetails1">
                <span><fa-icon [icon]="faCircleQuestion"></fa-icon> Ask a question</span>
                <span><fa-icon [icon]="faShareFromSquare"></fa-icon> Share</span>
            </div>

            <div class="ProductDelivery">
                <p class="EstimatedD"><fa-icon [icon]="faTruck"></fa-icon> Estimated Delivery:<span>Jul 30 - Aug 03</span></p>
                <p class="FreeShipping"><fa-icon [icon]="faSquare"></fa-icon> Free Shipping & Returns: <span>On all orders over $75</span></p> 
            </div>

            <div class="Payment">
                <div class="PaymentOptions">
                    <fa-icon [icon]="faCcVisa"></fa-icon>
                    <fa-icon [icon]="faCcMastercard"></fa-icon> 
                    <fa-icon [icon]="faCcAmex"></fa-icon> 
                    <fa-icon [icon]="faCcJcb"></fa-icon> 
                    <fa-icon [icon]="faCcDiscover"></fa-icon> 
                    <fa-icon [icon]="faCcDinersClub"></fa-icon> 
                    <fa-icon [icon]="faCcPaypal"></fa-icon> 
                </div>
                <p>Guarantee safe & secure checkout</p>
            </div>
        </div>

    </div>

</section>
