<section class="ProductContainer">
    <div class="Products">
        @for(Product of products.slice(0,9); track  $index; let i=$index)
        {
        <div class="Product" [class.active]="Product.InStock==0" (click)="openProduct(Product.ID)">
            <div class="PImg">
                <img [src]="Images[i]" alt="">
            </div>
            <p class="PName">{{Product.Name}}</p>
            <div class="ProductPricesContainer">
                <p class="DPrice">$0.00</p>
                <p class="PPrice">${{Product.Price}}</p>
            </div>
            
            <div class="PColors">
                @for(color of Product.MainColor; track  $index;let j=$index)
                {
                <div class="ColorContainer">
                    <div (click)="GetProdIndex(i,j)" [style.backgroundColor]="color.Hex" class="Color"></div>
                </div>
                }
            </div>
        </div>
        }
    </div>
</section>