<section class="ProductContainer">
    <div class="Products">

        <div class="Product">
            <div class="PImg">
                <img src="/public/assets/images/currentOffer/p1.png" alt="">
            </div>
            <p class="PName">Rounded Red Hat</p>
            <div class="ProductPricesContainer">
                <p class="DPrice">$5.00</p>
                <p class="PPrice">$8.00</p>
            </div>
            
            <div class="PColors">
                <div class="ColorContainer">
                    <div class="Color"></div>
                </div>
            </div>
        </div>

    </div>
</section>