<section class="SubscribeToNews">

    <div class="FlexContent">
        <div>
            <img src="/public/assets/images/SubscribeToNews/image1.png" alt="">
        </div>

        <div class="TextContent">
            <h2>Subscribe To Our Newsletter</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis <br>
                ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin 
            </p>
            <label for="email"></label>
            <input type="email" id="email" placeholder="Enter your email">
            <button>Subscribe Now</button>
        </div>

        <div>
             <img src="/public/assets/images/SubscribeToNews/image2.png" alt="">
        </div>
    </div>

</section>