:host
{
    --SigInHoverColor:#b08484;
    --LoginWithButtons:#5B86E5;
    --LoginWithButtonsText:Black;
    --LoginWithButtonsHoverBackground:#5B86E5;
    --LoginWithButtonsHoverText:White;
    --LoginWithHoverText:white;
    --LoginContainerBorder:rgb(192, 192, 192);
    --InputBorder:rgb(192, 192, 192);
    --SigninB: black;
    --SigninText:white;
    --SignupBorder:#5B86E5;
    --SignupText:#5B86E5;
    --SignupBColor:white;
    --SignupHoverBColor:#5B86E5;
    --SignupHoverText:white;
    --FPassWorldText:#5B86E5;
}

.Login
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    margin: 0;
    .LoginContainer
    {
        img
        {
            display: block;
            height: 1077px; 
            width: 100%;
            object-fit: cover;
        }

        border: 1px solid var(--LoginContainerBorder);
        border-radius: 0px 30px 30px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 187px;
    }
}