<section class="FollowUsContent">

    <div class="TextContent">
        <h2>Follow Us On Instagram</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis <br>
            ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin 
        </p>
    </div>

    <div class="ImgContainer">
         @for (item of ImgsArry; track item) 
         {
            <div>
            <img [src]=item alt="">
            </div>
        }
    </div>

</section>