    @if(MonthlySalesItems  && MonthlySalesItems[NextMonth])
    {
    <section>
    <!--The content on the left-->
    <div class="Content">
        <aside class="Description">
            <h1>Deals Of The {{MonthlySalesItems[NextMonth]?.Month}}</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> 
                Scelerisque duis ultrices sollicitudin aliquam sem. <br>
                Scelerisque duis ultrices sollicitudin 
            </p>
            <button>Buy Now</button>
            @if (NextMonth === CurrentMonth) 
            {
            <h4>Hurry, Before It’s Too Late!</h4>
            <div class="Timer_Flex_content">

                <div class="Timer Days">
                    <span class="Days">{{ format(Days) }}</span>
                    <p>Days</p>
                </div>

                <div class="Timer Hours">
                    <span class="Hours">{{ format(Hours) }}</span>
                    <p>Hr</p>
                </div>

                <div class="Timer Mins">
                    <span class="Mins">{{ format(Minutes) }}</span>
                    <p>Mins</p>
                </div>

                <div class="Timer Sec">
                    <span class="Sec">{{ format(Seconds) }}</span>
                    <p>Sec</p>
                </div>

            </div>
        } 
        @else
        {
            <h4>The promotion has expired!</h4>
        }
    </aside>
    <!--The content on the right-->
    <div class="ProductsGrid">
                
    <div class="Icons">
         <fa-icon (click)="NextM(-1)" [icon]="faAngleLeft"  [class.disabled-icon]="NextMonth===0"></fa-icon>
         <fa-icon (click)="NextM(1)" [icon]="faAngleRight"  [class.disabled-icon]="NextMonth===CurrentMonth"></fa-icon>
    </div>
    <!--The 3 product cards-->
   
    <div class="Item Item1">

        <div class="Product">
            <img [src]="MonthlySalesItems[NextMonth].SaleProducts[NextIndex].Thumbnail" alt="">
                        
            <div class="ProductInfo">
            
                <p>{{MonthlySalesItems[NextMonth].SaleProducts[NextIndex]?.SaleNumber}} - {{MonthlySalesItems[NextMonth].SaleProducts[NextIndex]?.DiscountSeason}}  </p> <br>
                @if(this.Distance>0)
                {
                <p>{{MonthlySalesItems[NextMonth].SaleProducts[NextIndex]?.Discount}}% OFF</p>
                }
            
            </div>
        </div>
         
    </div>

    <div class="Item2">
        <img [src]=" MonthlySalesItems[NextMonth].SaleProducts[(NextIndex + 1) % MonthlySalesItems[0].SaleProducts.length].Thumbnail" alt="">
    </div>

    <div class="Item3">
        <img [src]=" MonthlySalesItems[NextMonth].SaleProducts[(NextIndex + 2) % MonthlySalesItems[0].SaleProducts.length].Thumbnail" alt="">
    </div>
    
    <!--The point steppers-->
    <div class="step">
        <ul>
            <li [class.active]="NextIndex === 0" (click)="NextProduct(0)"></li>
            <li [class.active]="NextIndex === 1" (click)="NextProduct(1)"></li>
            <li [class.active]="NextIndex === 2" (click)="NextProduct(2)"></li>
        </ul>
    </div>
    </div>
</div>
</section>
}