<section>
    <div class="TextContent">
        <h3>New Arrivals</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis <br> 
            ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin 
        </p>
    </div>

    <div class="Buttons">
        <button>Men’s Fashion</button>
        <button>Women’s Fashion</button>
        <button>Women Accessories</button>
        <button>Men Accessories</button>
        <button>Discount Deals</button>
    </div>

    <div class="ProductItems">
        @for(item of ProductItems.slice(0,Visibleproducts); track item.ID)
        {
          <article>
            <img [src]="item.Thumbnail" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>{{item.Name}}</span> <br>
                        <span>{{item.BrandName}}</span>
                    </div>
                    
                    <div class="PStars">
                         @for (star of [].constructor(item.ProductRating); let i = $index; track i) 
                        {
                            <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        }
                    </div>
                </div>
                <p>({{item.CustomerReviews}}) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$ {{item.Price}}</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>
        }
    </div>
    <button class="ViewMoreButton" (click)=" ViewMore(3)">  {{ Visibleproducts < ProductItems.length ? 'Show More' : 'Show Less' }}</button>
</section>
