<section>
    <div class="TextContent">
        <h3>New Arrivals</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis <br> 
            ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin 
        </p>
    </div>

    <div class="Buttons">
        <button>Men’s Fashion</button>
        <button>Women’s Fashion</button>
        <button>Women Accessories</button>
        <button>Men Accessories</button>
        <button>Discount Deals</button>
    </div>

    <div class="ProductItems">

        <article>
            <img src="/public/assets/images/NewArrivals/P1Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

         <article>
            <img src="/public/assets/images/NewArrivals/P2Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

         <article>
            <img src="/public/assets/images/NewArrivals/P3Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

         <article>
            <img src="/public/assets/images/NewArrivals/P4Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

         <article>
            <img src="/public/assets/images/NewArrivals/P5Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

         <article>
            <img src="/public/assets/images/NewArrivals/P6Images.png" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>Shiny Dress</span> <br>
                        <span>Al Karam</span>
                    </div>

                    <div class="PStars">
                        <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <p>(4.1k) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$95.50</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>

    </div>
    <button class="ViewMoreButton">View More</button>
</section>
