<section>
    <!-- Top text -->
    <div class="TextContent">
        <h3>New Arrivals</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis <br> 
            ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin 
        </p>
    </div>
     <!-- The filter buttons -->
    <div class="Buttons">
        <button (click)="setCategory(ProductFor.Men_sFashion)">Men’s Fashion</button>
        <button (click)="setCategory(ProductFor.Women_sFashion)">Women’s Fashion</button>
        <button (click)="setCombinedFilter(ProductFor.Women_sFashion, true)">Women Accessories</button>
        <button (click)="setCombinedFilter(ProductFor.Men_sFashion, true)">Men Accessories</button>
        <button>Discount Deals</button>
    </div>
    <!-- Dynamic content is displayed in the cards. -->
    <div class="ProductItems">
        <!-- For loop that includes the filter pipe. -->
        @for(item of (ProductItems | filterData:{ProductFor: currentCategory, Accessories: showAccessoriesOnly }).slice(0,Visibleproducts); track item.ID)
        {
          <!--Product details of the cards. -->
          <article>
            <img [src]="item.Thumbnail" alt="">
            <div class="ProductInfo">
                <div class="ProductName">

                    <div class="PName">
                        <span>{{item.Name}}</span> <br>
                        <span>{{item.BrandName}}</span>
                    </div>
                    <!--Generate the cool reviews here. -->
                    <div class="PStars">
                         @for (star of [].constructor(item.ProductRating); let i = $index; track i) 
                        {
                            <fa-icon class="Icon" [icon]="faStar"></fa-icon>
                        }
                    </div>
                </div>
                <p>({{item.CustomerReviews}}) Customer Reviews</p>
                <div class="ProductPrice">
                    <span>$ {{item.Price}}</span>
                    <span>Almost Sold Out</span>
                </div>  
            </div>
        </article>
        }
    </div>
    <!-- Always show 3 extra cards. -->
    <button class="ViewMoreButton" (click)=" ViewMore(3)">  {{ Visibleproducts < ProductItems.length ? 'Show More' : 'Show Less' }}</button>
</section>
