 :host
{
    --ResendButtonHover:#b08484;
    --ResendaTag:#5B86E5;
    --FormBottomBorder:rgb(192, 192, 192);
}

.ConfirmationCodePanel
{
    padding-right: 148px;
    display: grid;
    h1
    {
        font-size: 66.6px;
        margin-bottom: 197.3px;
    }
    h2
    {
        font-size: 30px;
        margin-bottom: 55px;
    }
    input
    {
        min-width: 636px;
        margin-bottom: 29px;
        border: none;
        border-bottom: 1px solid var(--FormBottomBorder);
        padding: 7px 0px 7px;
    }
    input:focus
    {
        outline: none;
    }
    .SendConfCodeButton
    {
        border: none;
        margin: 0 auto;
        display: block;
        padding: 10px 216px 10px;
        margin-bottom: 23px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
    .SendConfCodeButton:hover{color: var(--ResendButtonHover);}
     p
    {
        display: block;
        margin: 0 auto;
        margin-top: 19px;
        font-weight: bold;
        a{
            cursor: pointer;
            color: var(--ResendaTag);
        }
    }
    .Error
    {
        margin-bottom: 15px;
    }
    .Terms-Codnitions
    {
        font-weight: normal;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }
}