:host
{
    --SCTextColor:black;
    --BBC:white;
    --BCEnhancer:#F1F1F1;
    --EnhancerPlusColor:black;
    --EnhancerMinusColor:black;
    --StrokeColor:rgb(159, 159, 159);
    --BasketBottomBorderColor:rgb(159, 159, 159);
}
.ShoppingBasket
{
    box-shadow: -20px 0 10px rgba(0, 0, 0, 0.3);
    height: 990px;
    width: 741px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--BBC);
    z-index: 1000;
    .ShoppingBasketContent
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 33px 39px 76px 44px;
        h1{color: var(--SCTextColor);}
        .SBCText
        {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
            justify-content: space-between;
            fa-icon
            {
                cursor: pointer;
                font-size: 24px;
            }
        }
        p
        {
            font-size: 1.6rem;
            margin-bottom: 67px;           
        }  
    }
    .BasketProducts
    {
        flex: 1;
        height: 50px;
        overflow-y: auto;
        .Product
        {
            display: flex;
            gap: 22px;
            margin-bottom: 19px;
            .Pimg
            {
                img
                {
                    width: 168px;
                    height: 225px;
                    object-fit: cover;
                }
            }
            .Pinfo
            {
                display: flex;
                flex-direction: column;
                gap: 9px;
                .ProdName
                {
                    margin-top: 5px;
                }
                span,strong
                {
                    font-size: 22px;
                }
                .ProductEnhancer
                {
                    display: flex;
                    justify-content: space-evenly;
                    gap: 28px;
                    background-color: var(--BCEnhancer);
                    border-radius: 5px;
                    span
                    {
                        font-size: 35.75px;
                        font-weight: bold;
                    }
                    .Minus
                    {
                        cursor: pointer;
                        color: var(--EnhancerPlusColor);
                    }
                    .Plus
                    {
                        cursor: pointer;
                        color: var(--EnhancerMinusColor);
                    }
                }
            }
            fa-icon
            {
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
    
    .BasketBottom
    {
        background-color: white;
        position: sticky;
        bottom: 0;
        .checkbox
        {
            width: 650px;
            display: flex;
            align-items: center;
        }
        .Line{margin-top: 21px; height: 1px;width: auto;background-color: var(--StrokeColor);}
        input{margin-right: 13px; height: 32px; width: 32px;}
        label{font-size: 22px;}
        .SubTotal
        {
            display: flex;
            justify-content: space-between;
            p
            {
                margin-top: 45px;
                margin-bottom: 29px;
                font-weight: bold;
                font-size: 22px;
            }
        }
        button
        {
            cursor: pointer;
            display: block;
            margin: auto;
            padding: 25px 265px 25px 265px;
            background-color: black;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            margin-bottom: 20px;
        }
        Button:hover
        {
            color: #b08484;
        }
    }
    
}
@media screen and (max-width:768px)
{
    .ShoppingBasket
    {
        width: 100%;
        max-height: 990px;
        .ShoppingBasketContent
        {
            padding:5px;
           h1
           {
            font-size: 1.5rem;
           }
            .SBCText
            {
                p{font-size: 0.5rem;}
            }
        }

        .BasketProducts
        {
            .Pimg
            {
                img
                {
                    display: block;
                    width: 10%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .BasketBottom
        {
           button
           {
                padding: 25px 100px 25px 100px;
           }
        }
    }
}