@if(ShoppingCardActive)
{
<Section class="ShoppingBasket">

    <div class="ShoppingBasketContent">
        <div class="SBCText">
            <h1>Shopping Card</h1>
            <fa-icon (click)="ChangeActive()" [icon]="faX"></fa-icon>
        </div>
        <p>Buy <strong>$122.35</strong>  more and get <strong>free shipping</strong> </p>

        <div class="BasketProducts">
            @for (item of cartService.ProductItems; track item.Pid) 
            {
            <div class="Product">
                
                <div class="Pimg">
                    <img src="{{item.PImage}}" alt="">
                </div>
            
                <div class="Pinfo">
                    <strong class="ProdName">{{item.PName}}</strong>
                    <span>Color: {{item.PColorName}}</span>
                    <strong>${{item.DPrice.toFixed(2)}}</strong>

                    <div class="ProductEnhancer">
                        <span (click)="cartService.DecreaseQuantity(item.Pid)" class="Minus">-</span>
                        <span>{{pad(item.Pquantity)}}</span>
                        <span (click)="cartService.increaseQuantity(item.Pid)" class="Plus">+</span>
                    </div>

                </div>
                <fa-icon (click)="onRemove(item.Pid)" [icon]="faX"></fa-icon>
            </div>
            }
        </div>

        <div class="BasketBottom">
            <div class="checkbox">
                <input id="#ch" type="checkbox">
                <label for="#ch">For $10.00 please wrap the product</label>
            </div>
            <div class="Line"></div>
            <div class="SubTotal">
                <p>Total amount</p>
                <p>{{cartService.totalPrice}}</p>
            </div>

            <button (click)="GoToCheckout()">Checkout</button>
        </div>

        

    </div>
</Section>
}