 :host
{
    --ConfirmCodeButtonHover:#b08484;
    --LogigaTag:#5B86E5;
    --FormBottomBorder:rgb(192, 192, 192);
}


.ForgetPasswordPanel
{
    padding-right: 120px;
    display: grid;
    h1
    {
        font-size: 66.6px;
        margin-bottom: 197.3px;
    }
    h2
    {
        font-size: 30px;
        margin-bottom: 55px;
    }
    .Inputs
    {
        .InputRow
        {
            margin-bottom: 29px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 18px;
            input
            {
                width: 324px;
                border: none;
                border-bottom: 1px solid var(--FormBottomBorder);
                padding: 7px 0px 7px 0px;
            }
            input:focus{outline: none;}
        }
       
    }
    .SendCodeButton
    {
        margin: 0 auto;
        display: block;
        cursor: pointer;
        border: none;
        padding: 10px 187px 10px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
     .SendCodeButton:hover
     {
        color: var(--ConfirmCodeButtonHover);
     }
    p
    {
        display: block;
        margin: 0 auto;
        margin-top: 19px;
        font-weight: bold;
        a{
            cursor: pointer;
            color: var(--LogigaTag);
        }
    }
    .Error
    {
        margin-bottom: 15px;
    }
    .Terms-Codnitions
    {
        font-weight: normal;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px)
{
    .ForgetPasswordPanel
    {
        padding-right: 0px;
        h1
        {
            font-size: 40px;
            margin-bottom: 50px;
        }
        h2
        {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .Inputs
        {
            .InputRow
            {
                margin-bottom: 15px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 18px;
                input
                {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid var(--FormBottomBorder);
                    padding: 7px 0px 7px 0px;
                }
                input:focus{outline: none;}
            }
           
        }
        .SendCodeButton
        {
            margin: 0 auto;
            display: block;
            cursor: pointer;
            border: none;
            padding: 10px 50px 10px;
            background-color: black;
            color: white;
            font-weight: bold;
            border-radius: 10px;
        }
        
         .SendCodeButton:hover
         {
            color: var(--ConfirmCodeButtonHover);
         }
    }
}