<section class="filter">
   
    <div class="FiltersContainer">
        <p class="FText">Filters</p>
        <div class="Size">
            <P>Size</P> 
            <ul>
                @for (size of ProductSizes; track size;) 
                {
                    <li [class.active]="SelectedSizes.includes(size)" (click)="TogleSize(size)">{{ size }}</li>
                }
            </ul>
        </div>

        <div class="Colors">
             <P>Colors</P>
            <ul>
                @for (color of ProductColors; track color) 
                {
                    <li
                    [class.active]="SelectedProductColors.includes(color.ClassName)"
                    [style.background-color]="color.Hex"
                    [style.box-shadow]="'3px 3px 5px grey'"
                    [style.opacity]="SelectedProductColors.includes(color.ClassName) ? 1 : 0.4"
                    (click)="TogleColor(color.ClassName)">
                    </li>
                }
            </ul>
        </div>

        <div class="Price">
            <P>Prices</P>
            <ul>
                @for (price of ProductPrices; track price; let i=$index) 
                {
                    <li [class.active]="i===ProductPriceIndex" (click)="ToglePrice(price)">{{ price }}</li>
                }
            </ul>
        </div>

        <div class="Brands">
            <div class="BrandsText" (click)="toggleDropDown('BrandsText')">
            @if(BrandsDropDown)
            {
                <P>Brands </P> <fa-icon [icon]="faAngleDown"></fa-icon>
            }
            @else
            {
                <P>Brands </P> <fa-icon [icon]="faAngleUp"></fa-icon>
            }
            </div>
            <div class="BrandsContent" [class.active]="BrandsDropDown">
                @for (brand of ProductBrands; track brand) 
                {
                    <span [class.active]="SelectedProductBrands.includes(brand)" (click)="TogleBrand(brand)">{{ brand }}</span>
                    @if(brand==="Brook"){ <br> }
                }
            </div>
        </div>

        <div class="Collections">
            <div class="CollectionsText" (click)="toggleDropDown('CollectionsText')">
            @if(CollectionsDropDown)
            {
                <P>Collections </P> <fa-icon [icon]="faAngleDown"></fa-icon>
            }
            @else
            {
                <P>Collections </P> <fa-icon [icon]="faAngleUp"></fa-icon>
            }
            </div>
            <ul [class.active]="CollectionsDropDown">

                @for (collection of ProductCollections; track collection; let i=$index) 
                {
                    <li [class.active]="i===ProducCollectionsIndex" (click)="TogleCollection(collection)">{{ collection }}</li>
                }

            </ul>
        </div>

        <div class="Tags">
            <p>Tags </p>
            <div class="TagsContent">

                @for (tag of ProductTags; track tag) 
                {
                    <span>{{ tag }}</span>
                    @if(tag==="Bags" || tag==="Vagabond"){<br>}
                }
                
            </div>
        </div>

    </div>
</section>
