<section class="TextContent">
    <h1>Fashion</h1>
    <p>Store</p>
</section>

<div class="Grid">

    <div class="Filter">
        <app-product-filter 
        (filteredProductsChange)="onFilterApplied($event)"
        (ProducCollectionIndex)="ProducCollectionIndexApplied($event)">
        </app-product-filter>
    </div>

    <div class="ProductLayoutSwitcher">
        <app-product-layout-switcher  
        [ProdCollectionIndex]="ProducCollectionIndex"></app-product-layout-switcher>
    </div>

    <div class="ProductContent">
        <app-product-content 
        [products]="filteredData"></app-product-content>
    </div>

     <div class="Pagination">
        <app-pagination></app-pagination>
    </div>

</div>

<div class="PhoneFilter" [class.active]="!MouseOnPhoneFilter">
    <app-product-filter 
    (filteredProductsChange)="onFilterApplied($event)"
    (ProducCollectionIndex)="ProducCollectionIndexApplied($event)">
    </app-product-filter>
</div>