.TextContent
{
    text-align: center;
    margin-top: 78px;
    font-size: 24px;
    p
    {
        margin-top: 20px;
        margin-bottom: 103px;
        font-size: 1rem;
        font-weight: bold;
    }
}
.Grid
{
    max-width: 1291px;
    margin: 0 auto;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 34px auto auto;
    gap: 24px;
    grid-template-areas:
    "Filter ProductLayoutSwitcher"
    "Filter ProductContent"
    "Filter Pagination";
}
.Filter { grid-area: Filter; }
.ProductLayoutSwitcher { grid-area:ProductLayoutSwitcher ;}
.ProductContent { grid-area:ProductContent;}
.Pagination{grid-area: Pagination;margin-top: 46px;}
