 :host
{
    --SigUpHoverColor:#b08484;
    --SignUpWithButtons:#5B86E5;
    --SignUpWithButtonsText:Black;
    --SignUpWithButtonsHoverBackground:#5B86E5;
    --SignUpWithButtonsHoverText:White;
    --SignUpWithHoverText:white;
    --SignUpContainerBorder:rgb(192, 192, 192);
    --InputBorder:rgb(192, 192, 192);
    --SigninB: black;
    --SignupText:white;
    --SignupBorder:#5B86E5;
    --SignupText:#ffffff;
    --SignupBColor:rgb(0, 0, 0);
    --SignupHoverBColor:#5B86E5;
    --SignupHoverText:white;
    --FLoginWorldText:#5B86E5;
}

.SignUpPanel
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    .SignUpContainer
    {
        border: 1px solid var(--SignUpContainerBorder);
        border-radius: 0px 30px 30px 0px;
        padding-right: 212px;
        display: flex;
        flex-direction: row;
        gap: 93px;
        .BigImg
        {
            img
            {
                display: block;
                height: 1077px; 
                width: 100%;
                object-fit: cover;
            }
        }
        .SignUp
        {
             min-width: 666px;
            .Text
            {
                h1
                {
                    font-size: 66.6px;
                    margin-top: 94.7px;
                    margin-bottom: 82.3px;
                }
                h2
                {
                    font-size: 30px;
                    margin-bottom: 29px;
                }

            }
            .SignUpOptions
            {
                display: flex;
                gap: 64px;
                .SignUpWithGoogle,.SignUpWithEmail
                {
                    cursor: pointer;
                    display: flex;
                    gap: 13px;
                    width: 100%;
                    border: 1px solid var(--SignUpWithButtons);
                    border-radius: 8px;
                    padding: 8px 32px 7px 31px;
                    align-items: center; 
                    fa-icon
                    {
                        font-size: 36px;
                    }
                    a
                    {
                       text-decoration: none;
                       display: block;
                       color: var(--SignupWithButtonsText);
                    }
                }

                .SignUpWithGoogle:hover,.SignUpWithEmail:hover
                {
                    background-color: var(--SignupHoverBColor);
                    color: var(--SignUpWithButtonsHoverText);
                    a
                    {
                        color: var(--SignupWithHoverText);
                    }
                }
            }
            .Inputs
            {
                margin-bottom: 44px;
                display: grid;
                gap: 18px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "Text                   Text"
                "FirstName              LastName"
                "FirstNameError         LastNameError"
                "EmailAddress           PhoneNumber"
                "EmailAddressError      PhoneNumberError"
                "Password               ConfirmPassword"
                "PasswordError          ConfirmPasswordError"
                "ConfirmPasswordMismatch ConfirmPasswordMismatch";
                
                input
                {
                    padding: 7px;
                    border: none;
                    border-bottom: 1px solid var(--InputBorder);
                }
                 input:focus
                {
                    outline: none;
                }

                .FirstName          {grid-area:FirstName;       }
                .LastName           {grid-area:LastName;        }
                .EmailAddress       {grid-area:EmailAddress;    }
                .PhoneNumber        {grid-area:PhoneNumber;     }
                .Password           {grid-area:Password;        }
                .ConfirmPassword    {grid-area:ConfirmPassword; }

                .FirstNameError         {grid-area:FirstNameError;          color: red;}
                .LastNameError          {grid-area:LastNameError;           color: red;}
                .EmailAddressError      {grid-area:EmailAddressError;       color: red;}
                .PhoneNumberError       {grid-area:PhoneNumberError;        color: red;}
                .PasswordError          {grid-area:PasswordError;           color: red;}
                .ConfirmPasswordError   {grid-area:ConfirmPasswordError;    color: red;}
                .ConfirmPasswordMismatch{grid-area:ConfirmPasswordMismatch; color: red;}
                .Text
                {
                    grid-area: Text;
                    margin: 0 auto;
                    font-size: 30px;
                    margin-top: 84px;
                    margin-bottom: 64px;
                } 
            }
            .SignUpButton
            {
                margin: 0 auto;
                display: block;
                padding: 10px 214px 10px;
                border-radius: 10px;
                border: none;
                background-color: var(--SignupBColor);
                color: var(--SignupText);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
            .SignUpButton:hover
            {
                color: var( --SigUpHoverColor);
            }
            p
            {
                text-align: center;
                margin-top: 20px;
                font-weight: bold;
                a
                {
                    color: var(--FLoginWorldText);
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .TermsConditions
            {
                font-weight: normal;
            }
        }
    }
}
