<section>
    <aside class="item item1 LeftSide">
        <img [src]="LeftSideImg" alt="">
    </aside>

    <div class="item item2 Middle">     

        <img [src]="MiddleUpImg" alt="">
        

        <div class="MiddleText">
            <h1>ULTIMATE</h1>
            <p>SALE</p>
            <span>NEW COLLECTION</span>
            <button><a href="#ShopNow">SHOP NOW</a></button>
        </div>

        <img [src]="MiddleUpDown" alt="">

    </div>

    <aside class="item item3 RightSide">
        <img [src]="RightSideImg" alt="">
    </aside>
</section>