:host
{
    --AsideColor:#E0E0E0;
    --H1Color:#484848;
    --Acolor:#484848;   
    --HoverColor:#b08484;
    --MobileMenuColor:white;
}
section
{
    max-width: 1281px;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 35px;
}
.item
{
    height: 756px;
    max-width: 392px;
    border-radius: 10px;
}
.LeftSide,.RightSide
{
    background-color: var(--AsideColor);
}
.item1,.item3
{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-end;   
    overflow: hidden;      
}
.item2
{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.item2>img
{
    max-width: 100%;
    overflow: hidden; 
    height: 150px;
}
.MiddleText
{
    h1
    {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        color: var(--H1Color);
    }
    p
    {
        color: white;     
        text-align: center;          /* betű belseje fehér */
        -webkit-text-stroke: 1px black;  /* körvonal vastagság és szín */
        -webkit-text-stroke: 1px black;  
        font-size: 8rem;
    }
    span
    {
        display: block;
        text-align: center;
        font-size: 1.3rem;
    }
    button
        {
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: black;
            border: none;
            border-radius: 10px;
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
        a
        {
            display: block;
            padding: 20px 60px 20px 60px;
            color: white;
            font-weight: bold;
            font-size: 1rem;
        }
        a:hover
        {
            color: var(--HoverColor);
        }
    }
}