:host
{
    --H1Color:#484848;
    --Acolor:#484848;   
    --HoverColor:#b08484;
    --MobileMenuColor:white;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0px auto;
    margin-top: 30px;
    position: relative;
    h1
    {
        font-size: 3.5rem;
        a {  text-decoration: none; color: var(--H1Color);}
    }

    ul
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 58px;  
        margin-right: 10px;
    }

    ul a
    {
        font-size: 1rem;
        color: var(--Acolor);
        font-weight: bold;
    }
    .Buttons a:last-child
    {
        margin-left: 3.5rem;
        background-color: black;
        color: white;
        padding: 20px 46px 20px 46px;
        border-radius: 10px;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
    }

    .Buttons>a:hover
    {
        color: var(--HoverColor);
    }

    ul li a:hover
    {
        color: var(--HoverColor);
    }

    .MobileMenu
    {
        display: none;
    }
    .HamburgerMenu
    {
        display: none;
        font-size: 32px;
        cursor: pointer;
    }

    .HamburgerMenu:hover
    {
        color: var(--HoverColor);
    }
   
    div
    {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    div fa-icon
    {
        padding: 12px 17px 12px 17px;
    }

    @media screen and (max-width: 1024px) 
    {
        h1
        {
            margin-left: 32px;
        }

        .HamburgerMenu
        {
            display: block;
        }

        ul
        {
            display: none;
        }
        .MobileMenu
        {
            position: absolute;
            background-color: var(--MobileMenuColor);
            top: 60px;
            left: 10;
            width: 100%;
            overflow: hidden;
        }

        .MobileMenu.open 
        {
            max-height: 300px;
        }
        
        .MobileMenu li:not(:last-child) 
        {
            padding: 1rem 0rem 1rem 0rem;
            border-bottom: 1px solid #444;
            text-align: center;
        }
        .MobileMenu li:last-child
        {
            margin: 16px;
            text-align: center;
        }
        .MobileMenu a 
        {
            color: var(--Acolor);
        }
        .Buttons
        {
            margin-top: 16px;
            margin-bottom: 35px;
        }
    }
}