<nav>

    <h1>FASCO</h1>

    <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#Deals">Deals</a></li>
        <li><a href="#NewArrivals">New Arrivals</a></li>
        <li><a href="#Packages">Packages</a></li>
        <li><a href="#Signin">Sign in</a></li>
        <li><a href="SignUp">Sign Up</a></li>
    </ul>

    <div class="UserMenu">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <fa-icon [icon]="faUser"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faBagShopping"></fa-icon>
    </div>

    <div class="HamburgerMenu">
        <fa-icon [icon]="MenuOpen ? faXmark:faBars" (click)="IconChange()"></fa-icon>
    </div>

     <ul class="MobileMenu" [class.HamburgerMenu]="MenuOpen">
        <li><a href="#Home">Home</a></li>
        <li><a href="#Deals">Deals</a></li>
        <li><a href="#NewArrivals">New Arrivals</a></li>
        <li><a href="#Packages">Packages</a></li>
        <li><a href="#SignIn">Sign in</a></li>
        <li><a href="SignUp">Sign Up</a></li>
    </ul>
    
</nav>