<nav>

    <h1>FASCO</h1>

    <ul>
        <!--
        <li><a href="#Home">Home</a></li>
        <li><a href="#Deals">Deals</a></li>
        <li><a href="#NewArrivals">New Arrivals</a></li>
        <li><a href="#Packages">Packages</a></li>
        -->
         @if (IsLoggedIn) 
         {
            @for (item of LoggedInMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}  @if(item.icon) {<fa-icon [icon]="item.icon"></fa-icon>}</a>
                </li>
            }
        } @else 
        {
            @for (item of loggedOutMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}</a>
                </li>
            }  
             <div class="Buttons">
                <a href="#SignIn">Sign in</a> 
                <a href="#SignUp">Sign Up</a>
            </div>
        }
    </ul>
    @if(IsLoggedIn)
    {
        <div class="UserMenu">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <fa-icon [icon]="faUser"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faBagShopping"></fa-icon>
            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
        </div>
    }
    <div class="HamburgerMenu">
        <fa-icon [icon]="MenuOpen ? faXmark:faBars" (click)="IconChange()"></fa-icon>
    </div>

     <ul class="MobileMenu" [class.HamburgerMenu]="MenuOpen">
         @if (IsLoggedIn) 
         {
            @for (item of LoggedInMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}  @if(item.icon) {<fa-icon [icon]="item.icon"></fa-icon>}</a>
                </li>
            }
        } 
        @else 
        {
            @for (item of loggedOutMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}</a>
                </li>
            }  
            <div class="Buttons">
                <a href="#SignIn">Sign in</a> 
                <a href="#SignUp">Sign Up</a>
            </div>
        }
    </ul>
    
</nav>