<nav>
     <!-- Logo -->
    <h1><a href="/">FASCO</a></h1>
    <!-- Dynamic Menu list -->
    <ul>
         @if (IsLoggedIn) 
         {
            @for (item of LoggedInMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}  @if(item.icon) {<fa-icon [icon]="item.icon"></fa-icon>}</a>
                </li>
            }
        } @else 
        {
            @for (item of loggedOutMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}</a>
                </li>
            }  
             <div class="Buttons">
                <a class="SigIn" href="#SignIn">Sign in</a> 
                <a class="SignUp" href="#SignUp">Sign Up</a>

                <div class="Basket">
                    <div>
                        <p>1</p>
                    </div>
                    <fa-icon (click)="OpenShoppingCard()" [icon]="faBasketShopping"></fa-icon>
                    @if(ShoppingCard)
                    {
                    <app-shoping-card></app-shoping-card>
                    }
                </div>
                
            </div>
        }
    </ul>
    <!-- This is the icon menu (appears after logging in) -->
    @if(IsLoggedIn)
    {
        <div class="UserMenu">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <fa-icon [icon]="faUser"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faBagShopping"></fa-icon>
            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
        </div>
    }
    <!-- The hamburger menu -->
    <div class="HamburgerMenu">
        <fa-icon [icon]="MenuOpen ? faXmark:faBars" (click)="IconChange()"></fa-icon>
    </div>
     <!--Dynamic menu displayed on the phone-->
     <ul class="MobileMenu" [class.HamburgerMenu]="MenuOpen">
         @if (IsLoggedIn) 
         {
            @for (item of LoggedInMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}  @if(item.icon) {<fa-icon [icon]="item.icon"></fa-icon>}</a>
                </li>
            }
        } 
        @else 
        {
            @for (item of loggedOutMenu; track item.link) 
            {
                <li>
                  <a [href]="item.link">{{ item.text }}</a>
                </li>
            }  
            <div class="Buttons">
                <a href="#SignIn">Sign in</a> 
                <a href="#SignUp">Sign Up</a>
            </div>
        }
    </ul>
    
</nav>