<section class="ProductLayoutSwitcher">
    <span class="SText">{{ProdCollection[ProdCollectionIndex]}}<fa-icon [icon]="faAngleDown"></fa-icon></span>

    <form>
        <input [(ngModel)]="SearchInputData" type="search" name="q" placeholder="Search for your favorite clothing product">
        <button type="submit">Search</button>
    </form>

    <div class="IconBar">

        <div class="ICon3Vertical iconBox">
            <div class="Lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="ICon2Horizontal iconBox">
            <div class="Lines">
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="ICon3Horizontal iconBox">
            <div class="Lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="ICon4Horizontal iconBox">
            <div class="Lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
             </div>
        </div>

        <div class="ICon5Horizontal iconBox">
            <div class="Lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>

</section>