h1 {
  text-align: center;
  margin: 78px 0px 44px 0px;
  font-size: 42px;
}

section {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
section .LeftSide {
  padding-right: 33px;
  margin-top: 81px;
  max-width: 607px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 60px;
}
section .LeftSide .ContactForm .TextContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}
section .LeftSide .ContactForm .TextContent h2 {
  font-size: 2rem;
}
section .LeftSide .ContactForm .TextContent p {
  margin: 0;
}
section .LeftSide .ContactForm input {
  width: 100%;
  padding: 23px 0px 24px 28px;
}
section .LeftSide .ContactForm .EmailError {
  margin-top: 10px;
}
section .LeftSide .DeliveryForm .TextContent h2 {
  font-size: 2rem;
}
section .LeftSide .DeliveryForm {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
section .LeftSide .DeliveryForm .DeliveryInputsGrid {
  display: grid;
  grid-template-columns: 50%;
  gap: 16px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas: "CountryInput   CountryInput" "CountryError   CountryError" "FirstName      LastName" "FirstNameError LastNameError" "Address        Address" "AddressError   AddressError" "City           PostalCode " "CityError      PostalError";
}
section .LeftSide .DeliveryForm .CountryInput {
  grid-area: CountryInput;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .CountryError {
  grid-area: CountryError;
}
section .LeftSide .DeliveryForm .FirstName {
  grid-area: FirstName;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .FirstNameError {
  grid-area: FirstNameError;
  font-size: 14px;
}
section .LeftSide .DeliveryForm .LastName {
  grid-area: LastName;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .LastNameError {
  grid-area: LastNameError;
  font-size: 14px;
}
section .LeftSide .DeliveryForm .Address {
  grid-area: Address;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .AddressError {
  grid-area: AddressError;
}
section .LeftSide .DeliveryForm .City {
  grid-area: City;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .CityError {
  grid-area: CityError;
}
section .LeftSide .DeliveryForm .PostalCode {
  grid-area: PostalCode;
  padding: 23px 24px 28px;
}
section .LeftSide .DeliveryForm .PostalError {
  grid-area: PostalError;
}
section .LeftSide .DeliveryForm .CH {
  display: flex;
  gap: 10px;
  align-items: center;
}
section .LeftSide .DeliveryForm .CH input {
  width: 32px;
  height: 32px;
}
section .LeftSide .PaymentForm .TextContent h2 {
  font-size: 46px;
  margin-bottom: 16px;
}
section .LeftSide .PaymentForm .PaymentContainer {
  background-color: #F5F5F5;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentInput {
  padding: 24px 23px 28px;
  width: 100%;
  margin-bottom: 18px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid {
  padding: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "CardNumber           CardNumber" "CardNumberError      CardNumberError" "ExpirationDate       SecurityCode" "ExpirationDateError  SecurityCodeError" "CardHolderName       CardHolderName" "CardHolderNameError  CardHolderNameError";
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .CardNumber {
  grid-area: CardNumber;
  padding: 22px 21px 22px;
  margin-bottom: 7px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .CardNumberError {
  grid-area: CardNumberError;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .ExpirationDate {
  grid-area: ExpirationDate;
  padding: 22px 21px 22px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .ExpirationDateError {
  grid-area: ExpirationDateError;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .SecurityCode {
  grid-area: SecurityCode;
  padding: 22px 21px 22px;
  margin-left: 5px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .SecurityCodeError {
  grid-area: SecurityCodeError;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .CardHolderName {
  grid-area: CardHolderName;
  padding: 22px 21px 22px;
  margin-top: 7px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentDataGrid .CardHolderNameError {
  grid-area: CardHolderNameError;
}
section .LeftSide .PaymentForm .PaymentContainer .CH {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 21px 20px 33px 20px;
}
section .LeftSide .PaymentForm .PaymentContainer .CH input {
  height: 32px;
  width: 32px;
}
section .LeftSide .PaymentForm .PaymentContainer .PaymentError {
  padding-left: 20px;
  margin-bottom: 15px;
}
section .LeftSide button {
  cursor: pointer;
  padding: 25px 25px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
section .LeftSide Button:hover {
  color: #b08484;
}
section .LeftSide p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 36px;
}
section .RightSide {
  background-color: #F5F5F5;
  width: 50%;
  height: 910px;
  padding: 52px 0px 0px 82px;
  display: flex;
}
section .RightSide .PContent {
  width: 100%;
  max-width: 558px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}
section .RightSide .PContent .Products {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 20px;
}
section .RightSide .PContent .Products .PCard {
  display: flex;
  align-items: center;
}
section .RightSide .PContent .Products .PCard .PImg {
  margin-top: 13px;
  position: relative;
  width: 151px;
  height: 149px;
  background-color: aqua;
}
section .RightSide .PContent .Products .PCard .PImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .RightSide .PContent .Products .PCard .PImg .PINCard {
  position: absolute;
  top: 0%;
  right: 0;
  transform: translate(50%, -50%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 24px;
  z-index: 100;
}
section .RightSide .PContent .Products .PCard .PTextInformation {
  margin-left: 21px;
}
section .RightSide .PContent .Products .PCard .PTextInformation h6 {
  margin-bottom: 5px;
}
section .RightSide .PContent .Products .PCard .DPrice {
  margin-left: auto;
}
section .RightSide .PContent .InfoAbautProducts {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #F5F5F5;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  gap: 21px;
}
section .RightSide .PContent .InfoAbautProducts form {
  display: flex;
  justify-content: space-between;
}
section .RightSide .PContent .InfoAbautProducts form input {
  border: none;
  width: 70%;
  padding: 23px 24px 26px;
}
section .RightSide .PContent .InfoAbautProducts form Button {
  cursor: pointer;
  padding: 25px 57px 25px 58px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
section .RightSide .PContent .InfoAbautProducts form Button:hover {
  color: #b08484;
}
section .RightSide .PContent .InfoAbautProducts .ProdsTextData {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 12px;
}
section .RightSide .PContent .InfoAbautProducts .ProdsTextData .Subtotal, section .RightSide .PContent .InfoAbautProducts .ProdsTextData .Shipping, section .RightSide .PContent .InfoAbautProducts .ProdsTextData .Total {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=purchasing-products.css.map */