<section class="UserFeedback">
    <!--The text in the middle.-->
    <div class="TextContent">
        <h2>This Is What Our Customers Say</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis</p>
    </div>

    <div class="UserFeedbackViewport">
        <div class="UserFeedbackContainer" [style.transform]="'translateX(' + (-activeIndex * 100) + '%)'">
            <!--The card itself.-->
            @for (user of users$ | async; track $index; let i = $index)
            {
            <div class="UFBItem" [class.active]=" activeIndex === i">
                <div class="UFBCard UFBCard1">
                    <!--The image in the card.-->
                    <div class="UFBCardImg">
                        <img src="{{user.AvatarImg}}" alt="">
                    </div>
                    <!--Text content of the card.-->
                    <div class="UFBCardTextContent">
                        <p class="UFBCardUserComment">
                           “{{user.OpinionAboutStore}}”
                        </p>
                        @for(i of [].constructor(user.GeneralRating); track $index)
                        {
                            <fa-icon [icon]=faStar></fa-icon>
                        }
                        <div class="BlackLine"></div>
                        <h3 class="UserName">{{user.FirstName}}</h3>
                        <p class="UserProfession">{{user.Profession}}</p>
                    </div>

                </div>
            </div>
            }
        </div>
    </div>
    <!--The two buttons-->
    <div class="Buttons">
        <fa-icon [icon]=faAngleLeft (click)="prev()"></fa-icon>
        <fa-icon [icon]=faAngleRight (click)="next()"></fa-icon>
    </div>

</section>

