:host
{
    --SectionBColor:#FAFAFA;
    --StarColor:#FCA120;
    --CardBColor:white;
    --HoverColor:#b08484;
}

section
{
    background-color: var(--SectionBColor);
    overflow-x: hidden;
    .Buttons
    {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 58px;
        
        fa-icon
        {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow:0 6px 12px rgba(0, 0, 0, 0.15);
            font-size: 14px;
            padding: 17px 20px 17px 20px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }
        fa-icon:hover
        {
            background-color: rgb(230, 230, 230);
            color: var(--HoverColor);
        }
    }
}

.TextContent
{
    max-width: 716px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    h2
    {
        font-size: 3rem;
        margin-bottom: 20px;
    }
}

.UserFeedbackViewport {
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
    overflow: visible; 
    position: relative;
}

.UserFeedbackContainer
{
    display: flex;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 60px 0;    

}
.UFBCard
{
    display: flex;
    gap: 80px;
    justify-content: center;
    background-color: var(--CardBColor);
    border-radius: 12px;
    padding: 70px 50px 70px 70px;
    fa-icon{color: var(--StarColor);}
    box-shadow: 0 20px 40px rgba(0,0,0,0.15); 
    .UFBCardImg>img
    {
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: -20px 20px 0px #e6e6e6;
    }
     .UFBCardUserComment
    {
        margin-bottom: 27px;
        line-height: 1.5rem;
    }
    .BlackLine
    {
        max-width: 230px;
        height: 1px;
        background-color: black;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .UserName
    {
        font-size: 2rem;
        margin-bottom: 13px;
    }
    .UserProfession
    {
        font-weight: bold;
    }
}

.UFBItem {
    min-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0.8); 
    opacity: 0.4;     
}

.UFBItem.active {
    display: flex;
    transform: scale(1.1); 
    opacity: 1;
    z-index: 10;   
}